.nav-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size:20px;
    color: #000000;
    margin-left: 10px;
}

.navbar {
    height: 60px;
    left: 0px;
    top: 5px;
}