.toggle-password-visibility-button {
	background: rgba( #efefef, 0.4 );
	width: 2.5rem;
	border: none;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

.input-with-button-wrapper {
	position: relative;
}


.form-element {
    position:auto;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    border-color: white;
    width:250px;
}

.form-label{
    font-family: 'Lexend';
    font-style: normal;
    color: rgba(0.5, 0.5, 0.5, 0.5);
    
}