<div class="container first">
    <div class="row" style="height:620px;">
        <div class="col-sm-7">
            <div class="left">
                <h1>Your new career</h1>
                <h1 style="color:blue">starts here</h1>
                <h5>Enroll in the courses and gain knowledge and certificates with every course</h5>
            </div>

        </div>

        <div class="col-sm-5">
            <span class="circle1"></span>
            <span class="circle2"></span>
            <img src="assets/Girl.png"
                alt="...">
              
        </div>

    </div>

</div>
